
body {
  font-family: "Shantell Sans", serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}
.Header{
  font-family: "Atkinson Hyperlegible Mono", serif;;
  color:#000;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  margin-top: 10vh;
  
}

#app {
  max-width: 600px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#buttons{
 
  width: auto;
  display: flex;
  /* align-items: center; */
  
  /* justify-content: center; */
}



button{
    
  font-family: "Shantell Sans", serif;
  
  font-size: 1.5vh;
  height: 40px;
  border: medium solid #fff;

  border-radius: 30px;
  align-items: center;
  display: flex; 
  flex-flow: column;
  justify-content: center;
  width: auto;
  padding: 20px;
 
  margin: 5px;
  
  
}

button:hover{
  background-color: #cecece;
}

#expressions-list {
  list-style: none;
  padding: 0;
}

#expressions-list li {
  padding: 10px;
  background-color: #eee;
  margin: 5px 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#expressions-list button {
  background-color: #dc3545;
  margin-left: 10px;
}

#expressions-list button:hover {
  background-color: #c82333;
}
